.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

button {
  background-color: #241cbd; /* Green */
  border: none;
  color: white;
  padding:10px;
  cursor: pointer;
  border-radius: 5px;
} 
